* {
  overflow-x: hidden;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: #000;


}

.container {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  justify-content: space-between;

}

.foot {
  display: flex;
  justify-content: center;
}

.container-home {
  width: 400px;
  height: 60vh;
  overflow-y: scroll;
}